{% extends "master.html.twig" %}

{% block title %}Test{% endblock %}

{% block content %}
    <div class="breadcrumb-bar">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Test</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Test</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="login-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 mx-auto">
                    <h1>Select a Country and City</h1>

                    <form method="POST" action="">
                        {{ form_row(form.country) }}
                        {{ form_row(form.city) }}
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}