{% extends "master.html.twig" %}

{% block title %}Routing{% endblock %}

{% block content %}
    <div class="breadcrumb-bar">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Routing</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('routing_match_expression') }}">Routing</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Sub Domain</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="login-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 mx-auto">
                    {% include 'partials/flash.html.twig' %}
                </div>
                <div class="col-md-4 col-lg-4">
                    {% include 'components/routing_links.html.twig' %}
                </div>
                <div class="col-md-8 col-lg-8">
                   <div class="card">
                       <p><a href="{{ path('user_profile') }}" class="text-primary" target="_blank">Change Language</a> to see changes in url.</p>
                   </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}