{% extends "master.html.twig" %}

{% block title %}Routing{% endblock %}

{% block content %}
    <div class="breadcrumb-bar">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Routing</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('routing_match_expression') }}">Routing</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Priority Parameter</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="login-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 mx-auto">
                    {% include 'partials/flash.html.twig' %}
                </div>
                <div class="col-md-4 col-lg-4">
                    {% include 'components/routing_links.html.twig' %}
                </div>
                <div class="col-md-8 col-lg-8">
                   <div class="card">
                       <p>This route only works with passing <code>first-priority</code> in route. Though, <code>match_express</code> route has conditions to pass int but <code>priority</code> parameter will handle <code>first-priority</code> as parameter in first priority</p>

                       <div class="mb-3">
                           <code>
                               #[Route('/match_expression/first-priority', priority: 1 )]
                           </code>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}