<ol>
    <li><a href="{{ path('test_generate_random_color') }}" class="text-primary">Generate Random Color</a></li>
    <li><a href="{{ path('test_send_notification') }}" class="text-primary">Send Notification Mail - php bin/console messenger:consume async</a></li>
    <li><a href="{{ path('test_render_controller_in_twig') }}" class="text-primary">Render Controller In Twig</a></li>
</ol>